<h1>Welcome to Kenny's School</h1>


<h2>Struggling Students: </h2>

  <% @struggling.each do |student| %>
  <p><%= student.first_name %> <%= student.last_name %> has a Current Score of: <%= student.current_score %></p>
  <% end %>
