<h1>Be Afraid</h1>

<h3>Teacher with Dangerous Tendencies</h3>

<h4>
  The following has come to our recent attention, stay tuned for more fear-mongering:
</h4>

<p>
  <%= @concerning.first_name %> <%= @concerning.last_name %> shows strange behavior and is believed to be a <%= @concerning.alter_ego %>
</p>
